<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <table align="center" height="500px">
        <tr>
            <td>
                <form action="../controller/login_check.php" method="post">
                    <fieldset>
                        <legend>LOGIN</legend>
                        <table>
                            <tr>
                                <td>User ID<br>
                                    <input type="text" name="id" value="" style="width: 100%;">
                                </td>
                            </tr>

                            <tr>
                                <td>Password<br>
                                    <input type="password" name="password" value="" style="width: 100%;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" name="login" value="Login" style="width: 100px;">
                                    <a href="reg.html" style="margin-left: 10px;">Register</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
